version: "3"
services:
  javaps:
    build:
      context: .
    image: 52north/javaps:latest
    ports:
      - 8081:8080
    environment:
      SERVICE_SERVICE_URL: http://localhost:8081/service
      SERVICE_PROVIDER_INDIVIDUAL_NAME: Jane Doe
      SERVICE_PROVIDER_POSITION_NAME: First Line Supporter
  ades:
    build:
      context: .
      dockerfile: ades.Dockerfile
    image: 52north/ades:latest
    ports:
      - 8082:8080
    environment:
      SERVICE_SERVICE_URL: http://localhost:8082/service
      SERVICE_PROVIDER_INDIVIDUAL_NAME: Jane Doe
      SERVICE_PROVIDER_POSITION_NAME: First Line Supporter
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock