<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2016-2021 52°North Spatial Information Research GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<Configuration status="info" monitorInterval="10" name="javaps-log">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="javapsfile" fileName="logs/javaps.log" immediateFlush="false"
                     filePattern="logs/$${date:yyyy-MM}/javaps-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="org.n52" level="trace" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="javapsfile"/>
        </Logger>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="javapsfile"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="console"/>
            <AppenderRef ref="javapsfile"/>
        </Root>
    </Loggers>
</Configuration>
